<div class="container-fluid">
  <!-- Page Header -->
  <div class="row mb-4">
    <div class="col">
      <h1 class="h3 mb-1">Edit Franchise</h1>
      <p class="text-muted mb-0">Update franchise information</p>
    </div>
  </div>

  <!-- Form -->
  <div class="row">
    <div class="col-12">
      <%= render 'form', franchise: @franchise %>
    </div>
  </div>
</div>