<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Edit Store</h5>
      </div>
      <div class="card-body">
        <%= render 'form', store: @store %>
      </div>
    </div>
  </div>
</div>