<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      font-family: 'Helvetica', 'Arial', sans-serif;
      color: #333;
      background-color: white;
      font-size: 12px;
      line-height: 1.4;
    }

    @page {
      margin: 0.5in;
      size: A4;
    }

    .page-break {
      page-break-before: always;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>